<!DOCTYPE html>
<html ng-app="myapp">
<head>
  <title>AngularTest2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container" >
		<!-- <div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
		  <ul class="nav navbar-nav">
		    <li><a href="#/home">Home</a></li>
		    <li ng-hide="signedIn()"><a href="#/login">Log In</a></li>
		    <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
		    <li ng-show="signedIn()"><a href="#/">{{ user.username }}</a></li>
		    <li ng-show="signedIn()"><a ng-click="logout()">Log Out</a></li>
		  </ul>
		</div> -->
		<nav class="navbar navbar-default" style="margin-top:10px" ng-controller="NavCtrl">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#">My Blog</a>
		      </div>
		      <div id="navbar" class="navbar-collapse collapse">
		        <ul class="nav navbar-nav">
		          <li class="active"><a href="/">Home</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
		          	<li ng-hide="signedIn()"><a href="#/login">Log In</a></li>
				    <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
				    <li ng-show="signedIn()"><a href="#/">{{ user.username }}</a></li>
				    <li ng-show="signedIn()"><a ng-click="logout()" href="#">Log Out</a></li>
		        </ul>
		      </div>
		    </div>
		</nav>
		<div ng-view></div>
		<%= yield %>
	</div>

</body>
</html>